body {
  margin: 0;
  background: #FF4E50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#score {
  display: inline-block;
}

#gui {
  position: absolute;
  top: 250px;
  left: calc(50% + 150px)
}

#gameover {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
  background: #24C6DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

#gameover p {
  font-size: 40px;
}

p, button {
  color: white;
  font-weight: bold;
  font-family: monospace;
  font-size: 25px;
}

button {
  padding: 20px;
  margin-bottom: 40px;
  border: none;
  border-radius: 5px;
  background-color: #3D2B56;
}

button:active, button:focus {
  border: 3px solid black;
  padding: 17px;
  outline: none;
}

button:hover {
  background-color: #301E49;
}

div {
  text-align: center;
}

canvas {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.hide {
  display: none;
}